.btn-gloabl {
  background-color: #f0f2f68a;
  border: 0;
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 10px;
  width: 100%;

  img {
    max-width: 30px;
    margin-bottom: 5px;
  }
}
