@media (max-width: 570px) {
  .bitcoin-card_balance {
    &_head_icon {
      img {
        max-width: 40px;
        margin-right: 15px;
      }
    }
    &_main_amount {
      h1 {
        font-size: 32px;
        line-height: 40px;
      }
    }
    &_usd {
      h3 {
        font-size: 20px;
      }
    }
  }

  #root {
    .app_content {
      .button-container {
        .btn-global {
          padding: 15px;
        }
      }
    }
  }
}
